<h1>Personal Project</h1>


<h2>Please Register</h2>
<body>


<form method="post" action="/emails">
  <ul>

      <label for="username">Username</label><br>
      <input id="input" type="text" name="username"/>
      <br>
        <label for="password">Password</label><br>
        <input type="password" name="password"/>
      <br>
      <label for="email">Email</label><br>
      <input type="text" id="email" name="email"/>
    <br>


    <input type="submit" value="SUBMIT"/>
    </li>
  </ul>
</form>
</body>