development:
  adapter: postgresql
  encoding: unicode
  database: personal_project
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: personal_project
  pool: 5
  username: gschool
  password:
